.input{
    padding: 16px 24px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    border-radius: $br-10+px;
    margin-bottom: 16px;
    border-style: none;
    width: -webkit-fill-available;
}