.category-select-item{
border-radius: $br-10+px;
 padding: 14px 20px;
 width: max-content;
 color: $dark-gray;
 font-family: 'Poppins';
font-size: 14px;
font-weight: 500;
line-height: 21px;
border: 1px solid $dark-gray;
cursor: pointer;
margin-right: 12px;
margin-bottom: 10px;
}
