//   - ----------------colors- -----------

$active : #13ef9e;
$black  : #211f21;
$primary : #156bed;
$gray : #b2b5ba;


//  ---------------------sizes------------------

$radius : 25px;
$padding: 20px;
$margin: 20px;

$font-size1 : 16px;
$font-size2: 18px;
$font-size3: 20px;


$shadow1: 10px;
$shadow2: 5px;

$border: 2px

